.product-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 260px;
}

.product-info-table th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.product-price {
  padding-left: 120px;
  text-align: right;
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-num {
  padding: 10px;
  text-align: right;
  padding-left: 120px;
  padding-right: 10px;
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-sort {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.product-plus {
  display: flex;
  width: 47px;
  height: 39px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #ffc20c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-minus {
  display: flex;
  width: 47px;
  height: 39px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #ffc20c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.product-plus-minus {
  display: flex;
  gap: 16px;
  padding-left: 36px;
  padding-bottom: 4px;
}
.product-name {
  width: 740px;
  padding: 10px;
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-name-header {
  text-align: left;
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

th.product-price-header {
  text-align: right;
  padding-right: 60px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

th.product-num-header {
  text-align: right;
  padding-right: 76px;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
tbody {
  display: block;
}
thead {
  width: 1200px;
}
