.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
}

.modal-box {
  width: 600px;
  height: 400px;
  position: fixed;
  top: calc(50%-300px);
  left: calc(50%-200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  z-index: 1000;
}
.modal-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: #fff;
  margin-bottom: 10px;
}
.accept {
  width: 100px;
  height: 100px;
  margin-bottom: 90px;
}
.pay-modal {
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.go-first-alert {
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
